
<div class="footer-copyright">
  <div class="container">
    <span class="left">
  © 2017 Michael Dinh
    </span>
    <span class='right'>
  <a class="grey-text text-lighten-4" href="#!">Github</a>
  <span class="sep">|</span>
  <a class="grey-text text-lighten-4" href="">API</a>
  </div>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
