
<div id='index-title'>Welcome to Whoo!</div>
<div id='index-header'>The generic dating app</div>
<div id='index-hook'>But hey! Sweet intro animations!</div>
<a class='waves-effect waves-light btn valign-wrapper' id='index-btn' href='/survey'><p>Click to start</p></a>