<html>
    <head>
        <% include partials/head %>
    </head>
    <nav>
        <% include partials/navbar %>
    </nav>
    
    <main class="container">
        <%- body %>
    </main>
    
    <footer class='page-footer'>
        <%- include partials/footer %>
    </footer>
</html>