<!-- Modal Structure -->
<div id="match-modal" class="modal">
    <div class="modal-content">
      <h4>We found a match!</h4>
      <div class='row'>
        <div class='col s4 valign-wrapper'>
          <img id='match-photo' src='' class='valign'></p>
        </div>
        <div class='col s8'>
          <p id='match-name'></p>
          <p id='match-highlights'></p>
        </div>
    </div>
    <div class="modal-footer">
      <a href="/api/list" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</div>

<div class='survey-wrapper'>
  <h3 class='page-title'><span>Survey</span></h3>
  <span class='sexy-line'></span>

  <form action="#">
    <div class='user-info'>
      <div class="row">
          <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
          </div>
      </div>

      <div class='row'>
        <div class="input-field col s12">
            <input id="image_link" type="text" class="validate">
            <label for="image_link">Image Link</label>
        </div>
      </div> 
    </div> 
  
    <table class='striped'>
      <tbody>
        <tr class='row'>
          <td>
            <h5>Question 1</h5>

            <p id='ask-1'>
              Love a good party
            </p>

            <div class="input-field col m4">
              <select id="q-1">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>
        
        <tr class='row'>  
          <td>
            <h5>Question 2</h5>
            
            <p id='ask-2'>
              Enjoys going to museums and cultural events
            </p>

            <div class="input-field col m4">
              <select id="q-2">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>

        <tr class='row'>
          <td>
            <h5>Question 3</h5>
            
            <p id='ask-3'>
              Likes to talks about feelings and emotions
            </p>

            <div class="input-field col m4">
              <select id="q-3">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>

        <tr class='row'>
          <td>
            <h5>Question 4</h5>
            
            <p id='ask-4'>
              Like to keep a schedule
            </p>
            <div class="input-field col m4">
              <select id="q-4">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>

        <tr class='row'>
          <td>
            <h5>Question 5</h5>
            
            <p id='ask-5'>
              Keeps up a steady stream of conversation  
            </p>
            <div class="input-field col m4">
              <select id="q-5">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>
      
        <tr class='row'>
          <td>
            <h5>Question 6</h5>
            
            <p id='ask-6'>
              Likes to talk about intellectual things like art and philsophy
            </p>
            <div class="input-field col m4">
              <select id="q-6">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>

        <tr class='row'>
          <td>
            <h5>Question 7</h5>
            
            <p id='ask-7'>
              Is a social butterfly
            </p>
            <div class="input-field col m4">
              <select id="q-7">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>

        <tr class='row'>
          <td>
            <h5>Question 8</h5>
            
            <p id='ask-8'>
              Is more logical than emotional
            </p>
            <div class="input-field col m4">
              <select id="q-8">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>

        <tr class='row'>
          <td>
            <h5>Question 9</h5>
            
            <p id='ask-9'>
              Love to travel
            </p>
            <div class="input-field col m4">
              <select id="q-9">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>

        <tr class='row'>
          <td>
            <h5>Question 10</h5>
            
            <p id='ask-10'>
              I am always doing new things.
            </p>
            <div class="input-field col m4">
              <select id="q-10">
                <option value="1">strongly disagree</option>
                <option value="2">disagree</option>
                <option value="3" selected="selected">neutral</option>
                <option value="4">agree</option>
                <option value="5">strongly agree</option>
              </select>
              <label>Score</label>
            </div>
          </td>
        </tr>      
      </tbody>
    </table>

    <div class="waves-effect waves-light btn" id='survey-submit'><i class='large material-icons right'>check_circle</i>Submit</div>

  </form>
</div>

